 .u-section-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-sheet-1 {
  min-height: 527px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  width: 808px;
  margin: 115px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: 141px auto 0 379px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -38px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 41px;
  height: 41px;
  margin: 31px auto 0 383px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -34px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.625rem;
  width: 69px;
  margin: 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: 21px auto 0 379px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -39px auto 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-left: 313px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 316px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 242px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 182px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 113px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 115px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 113px;
  }
}